[project]
	description = this is test repo for open source project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pranavkumar24
[access "refs/for/refs/*"]
	read = group user/pranavkumar24
	push = group user/pranavkumar24
	label-Code-Review = -2..+2 group user/pranavkumar24
	label-Verified = -1..+1 group user/pranavkumar24
	rebase = group user/pranavkumar24
	removeReviewer = group user/pranavkumar24
	submit = group user/pranavkumar24
[access "refs/heads/*"]
	read = group user/pranavkumar24
	create = group user/pranavkumar24
	push = +force group user/pranavkumar24
	pushMerge = group user/pranavkumar24
[access "refs/tags/*"]
	push = +force group user/pranavkumar24
	pushTag = group user/pranavkumar24
	pushSignedTag = group user/pranavkumar24
